.parent{
    -fx-background-color: #F5F5F7;
     -fx-background-radius : 7 ;

}
.sidebar{
    -fx-background-color: #2D3039;
    -fx-background-radius : 0 30 0 0 ;
     -fx-effect: dropshadow(gaussian, #a5a5c7, 10, 0.5, 3, 3);
}
.tiles{

    -fx-background-color: #dfdff2;
    -fx-border-radius: 10 ;
    -fx-background-radius : 10;
    -fx-effect: dropshadow(gaussian, #a5a5c7, 10, 0.5, 3, 3);
}



.tempTiles{
    -fx-pref-width : 45;
    -fx-pref-height :28;
    -fx-background-color: #dbbfab;
    -fx-border-radius:5 ;
    -fx-background-radius : 5;
    -fx-effect: dropshadow(gaussian, #a5a5c7, 3, 0.5, 2, 2);
    -fx-font-size:18px;
    -fx-font-weight: bold;


}
.humidTiles{
    -fx-pref-width : 45;
    -fx-pref-height :28;
    -fx-background-color: #abd0e0;
    -fx-border-radius:5 ;
    -fx-background-radius : 5;
    -fx-effect: dropshadow(gaussian, #a5a5c7, 3, 0.5, 2, 2);
    -fx-font-size:18px;
    -fx-font-weight: bold;

}




.closebutton {
     -fx-fill :  #ff776e;
    -fx-border: none;
}
.closebutton:hover{

    -fx-fill: #fe2626;
    -fx-border: none;

}
.minimizebutton{
    -fx-fill: #fae673;
    -fx-border: none;
}

.minimizebutton:hover {

    -fx-fill : #fce103 ;
    -fx-border : none;
}
.tileHolder{
-fx-padding :10 ;
}
.icon{
      -fx-font-size :20 ;
          -fx-fill : #a6a6a6 ;
}
.icon:hover {
    -fx-font-size :24 ;
    -fx-fill : #8c8c8c ;
}
.icon2{
    -fx-fill : #6b6b6a ;
}

.temphumidicon{
    -fx-font-size: 20;
    -fx-fill: #7d7b7b ;

}

.chartArea{
   -fx-background-color: #dfdff2;

}

.windowBar{
-fx-background-color : #d4dde5 ;
   -fx-background-radius : 7 7 0 0  ;

}
.stationName{
    fx-font-size :30;
    fx-fill : #282a2b;
    fx-font-weight : bold;


}

.bottomRibbon{
-fx-background-color : #d4dde5 ;
}
.testPosition{
-fx-background-color : #00dde5 ;
}
.testPosition2{
-fx-background-color : #d400e5 ;
}
