.parent{
    -fx-background-color: #F5F5F7;

}
.sidebar{
    -fx-background-color: #2D3039;
    -fx-background-radius : 0 30 0 0 ;
     -fx-effect: dropshadow(gaussian, #a5a5c7, 10, 0.5, 3, 3);
}
.tiles{

    -fx-background-color: #dfdff2;
    -fx-border-radius: 10 ;
    -fx-background-radius : 10;
    -fx-effect: dropshadow(gaussian, #a5a5c7, 10, 0.5, 3, 3);
}
.closebutton {
     -fx-fill :  #ff776e;
    -fx-border: none;
}
.closebutton:hover{

    -fx-fill: #fe2626;
    -fx-border: none;

}
.minimizebutton{
    -fx-fill: #fae673;
    -fx-border: none;
}

.minimizebutton:hover {

    -fx-fill : #fce103 ;
    -fx-border : none;
}
.tileHolder{
-fx-padding :10 ;
}
.icon{
      -fx-font-size :20 ;
          -fx-fill : #a6a6a6 ;
}
.icon:hover {
    -fx-font-size :24 ;
    -fx-fill : #e8e8e8 ;
}
.icon2{
    -fx-fill : #6b6b6a ;
}

.chartArea{
   -fx-background-color: #dfdff2;

}

.windowBar{
-fx-background-color : #d4dde5 ;

}


